.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  background-color: #F2F2F2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  /* parameters for the header section */
}
.header__title{
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}
.logo{
background-repeat: no-repeat;
background-size: cover;
}
.logo_place_header{
  width: 154px;
  height: 31px;
  background-image: url("../images/logo_place_header.png");
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 2;
}
/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  z-index: 5;
  top: 30px;
  left: 64px;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.header__subtitle {
  position: absolute; 
  width: 388px;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}
.header__link{
  color: #2f80ed;
  text-decoration: none;

}
.main-illustration{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 756px;
  height: 608px;
  object-fit: cover;
  z-index: 1;
}

.header__square{
position: absolute;
right: 0;
top: 64px;
width: 568px;
height: 568px;
background-color: #2f80ed;;

}

.two-columns{
  margin-bottom: 100px;
  margin-top: 100px;
  margin-left: 100px;
  width: 80%;
  justify-content: space-between;
  min-width: 784px;
  display: flex;
  
  

}

.two-columns__brief{
  font-size: 18px;
  font-weight: normal;
  height: 1.2;
  width: 175px;
  color:#2f80ed;
  

}
.two-columns__main-text{
  margin-bottom: 100px;
  bottom: 34px;
  font-size: 18px;
  font-weight: normal;
  min-width: 784px;
  width: 80%
  


}

.span-accent{
  font-weight: bold;
  font-size: 24px;
  height: 34px;

}

.digits{
  display: flex;
  flex-direction: column;
  align-items: center;

  }

  .section-title{
    width: 60%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
    line-height: 1.15;
    font-size: 60px;
    font-weight: normal;
  }
  .section-subtitle{
    width: 60%;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }
  .table{
    width: 1100px;
    display: flex;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    }
  .table-cell{
    width: 250px; 
  }
  .table-heading{
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
  }
  .table-text{
    margin-top: 20px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
  }
  .feynman{
    min-width: 1100px;
    max-width: 1600px;
    height: 790px;
    margin-top: 100px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .title{
    text-align: center;
    font-weight: bold;
    line-height: 1.15;
    font-size: 120px;
    width: 775px;
    margin-top: 100px;
    margin-bottom: 70px;
  }
  .subtitle{
    font-weight: normal;
    line-height: 51px;
    font-size: 36px;
  
  }
  .link{
  text-decoration: none;
  position: absolute;
  font-weight: normal;
  color: #2f80ed;
  
  line-height: 51px;
  font-size: 36px;
  right: 0;
  bottom: 50%;
  margin-right: 48px;
  }
  .background-image{
    display: flex;
    position: absolute;
    object-fit: cover;
    width: 867px;
    height: 637px;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  .table__cell_theme_dark {
    color: white;
    width: 200px;
    margin-right: 0;
    margin-top: 80px;   
    }
    .kaufman{
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: #1f1f1f;
      margin-top: 100px;
      z-index: -1;
      overflow: hidden;
      
     
        
      }
      .section-title_theme_dark{
        color: white;
        text-align: center;
        font-weight: bold;
        margin-top: 90px;
        width: 60%;
        line-height: 1.15;
        font-size: 60px;
      
      }
      .section-subtitle_theme_dark{
        color: white;
        text-align: center;
        font-size: normal;
        width: 60%;
        line-height: 34px;
        font-size: 24px;
        margin-bottom: 0px;
      }
      .triangle{
        position: absolute;
        background-size: cover;
        overflow: hidden;
        width: 660px;
        height: 636px;
        right: -124px; 
        z-index: -2; 
      }
      .table_theme_dark{
       color: white;
       display: flex;
       flex-wrap: wrap;
       list-style: none;
       justify-content: space-between;
       width: 1100px;
       margin-top: -20px;
       margin-bottom: 90px;
      
      }
      .table-cell{
        width: 200px;
        margin-top: 80px;
      }
      .table-heading_theme_dark{
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 0;
        line-height: 1.15;
        font-size: 24px;
      }
      .table-text_theme_dark{
        font-weight: normal;
        line-height: 1.2;
        font-size: 18px;

        }

        .footer{
          background-color: #1F1F1F;
          display: flex;
         }        
        .footer__columns{
          display: flex;
         color: #F2F2F2;
         margin-top: 60px;
         width: 90%;
         margin-bottom: 40px;
         justify-content: space-between;
         margin: auto;
        }

        .footer__columns_content_copyright{
          flex-basis: 711px;
          display: flex;
        }

        .logo_place_footer{
          width: 183px;
          height: 35px;
          background-image:url("../images/logo_place_footer.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          }

        .logo{
            background-repeat:no-repeat;
            background-size: cover;
          }
        .footer__author{
            line-height: 25px;
            font-size: 18px;
            font-weight: normal;
            align-self: flex-end;
           }
        
        

        .footer__column-heading{
            margin-bottom: 20px;
            line-height: 30px;
            font-size: 18px;
            font-weight: bold;
            margin-top: 0;
          }

        .footer__list{
            list-style:none;
            padding: 0;
          }

        .footer__column-link{
            line-height: 30px;
            font-size: 18px;
            font-weight: normal;
          }
        .footer__column-social{
           
             }
          
        .footer__social-icons{
            height: 16px;
            width: 16px;
            text-decoration: none;
            }

           
              s
            